html {
    font-family: 'Audiowide', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em; /* 16px */
    color: white;
    line-height: 1.5em; /* 24px */
    background-color: #black;
    padding: auto;

 }
 
 #wrapper {
    width: 960px;
    position: center;
    margin-left: 300px;
    padding: 0px;
}
 
 #header {   
    font-family: 'Audiowide', cursive;
    font-size: 2em;
    text-align: center;
    width: 134%;
	background-color: #dea563; 
    margin-top: 20px;
    margin-left: 2px;
	padding: 15px;
}
    
 body {
   background-image: url(../images/gallaxy.jpg);
 }
 
 #main {
    font-family: 'Source Sans Pro', sans-serif;
 	width: 150%;
	margin-top: 20px;
    margin-left: 4px;
}

#images {
    background: black;
    border: none;
} 
#planets {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
a {
       color: #dea563;
 }  
       
table {
	font-family: 'Source Sans Pro', sans-serif;
	border-collapse: collapse;
    padding: 50px;
}
      
 td {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background: black;
	border: 1px solid #dddddd;
    text-align: center;
	padding: 10px 10px 10px 10px;
    margin-top: 200px;
}
      
#footer {
    clear: left;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
	text-align: center;
	padding: 10px;
}
