html {
    font-family: 'Audiowide', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em; /* 16px */
    color: white;
    line-height: 1.5em; /* 24px */
    background-color: #000000;
    }
 
 #wrapper {
    width: 960px;
    height: 900px;
    align-items: center;
    padding: 20px
}
 
 #header {   
    font-family: 'Audiowide', cursive;
    font-size: 2em;
    text-align: center;
    width: 190%;
	background-color: #dea563; 
    margin-top: 20px;
    margin-left: 2px;
	padding: 15px;
}
    
 body {
    background-image: url(../images/gallaxy2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
 
 #main {
    font-family: 'Source Sans Pro', sans-serif;
    width: 150%;
    margin-top: 20px;
    margin-left: 4px;
}

#images {
    background: black;
    border: none;
} 
#planets {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

a {
    color: #dea563;
    }  

       
table {
	font-family: 'Source Sans Pro', sans-serif;
	border-collapse: collapse;
    padding: 50px;
    margin-left: 230px;
    margin-right: auto;
    }
      
 td {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background: #000000;
	border: 1px solid #dddddd;
    text-align: center;
	padding: 10px 10px 10px 10px;
    margin-top: 200px;
    }
      
#footer {
    clear: left;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
	text-align: center;
	padding: 10px;
    }
